<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
    <form action="/admin">
        <button><a href="showuser">show user list</a></button>
        <button><a href="/logout">LOG OUT</a></button>
        <button><a href="/product">Add products</a></button>
        <button><a href="/showproduct">show products</a></button>
    </form>
    </center>
</body>

</html>