<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <div class="signup-container">
        <h2>LOGIN</h2>
        <form action="/login" method="post">
            <input name="email" type="email" placeholder="Email" required>
            <input id="password" name="password" type="password" placeholder="Password" required>
            <p>don't have an account?<button class="account" ><U><a href="/signup">new account</a></U></button></p>
            <span class="spu"></span>
            <p class="message"><%=message%></p>
            <button type="submit" id="nextpage">login</button>
        </form>
    </body>
</html>